.node circle {
  stroke: var(--primary-color);
  fill: var(--primary-color);
}

.text {
  fill: var(--primary-color);
}

.link {
  stroke: var(--primary-color);
}

.content-text {
  display: none;
}

.content-node:hover + .content-text {
  display: block;
}
