:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --tertiary-color: #b8b8b8;
  --grid-cols: 5;
}

body {
  font-family: garamond;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

input,
textarea,
button {
  font-family: garamond;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

input::placeholder {
  color: var(--primary-color);
}

body {
  margin: 0;
  padding: 0;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

#app {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#main-holder {
  width: 100%;
  position: absolute;
  top: 80px;
  bottom: 0;
  overflow-y: auto;
}

a {
  text-decoration: underline;
  color: var(--primary-color);
}

/* Generic center div */
.centering-div {
  display: grid;
  place-items: center;
  min-height: 100%;
}

/* MAIN */
.text-container {
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.individual-text {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.text-link {
  text-decoration: none;
}

/* POPUPS (newmat, singlemat, singletag, styling)*/
.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  background: var(--secondary-color);
  width: 500px;
  height: 380px;
  border-radius: 7px;
  z-index: 999;
  box-shadow: 0px 10px 40px -5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .popup {
    max-width: 80%;
  }
}

/* NO RESULTS (MAIN, TAG) */
.no-results {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* SINGLE MAT AND TAG */
.single-mattag {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}

.single-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 10px 0px 10px;
}

.single-rest {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}

.single-labels {
  max-height: 120px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.single-labels small,
.single-labels a {
  font-size: 0.8rem;
  color: var(--tertiary-color);
  text-decoration: none;
  margin-bottom: 5px;
}

.single-labels a:hover {
  text-decoration: underline;
}

.single-labels textarea {
  border-color: var(--primary-color);
  resize: none;
  height: 50px;
}

.single-labels input {
  border-color: var(--primary-color);
}

.single-desc {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0 5px 0 5px;
  height: 100px;
  overflow-y: auto;
}

.single-list {
  list-style-type: none;
  padding: 0 5px 0 5px;
  height: 100px;
  overflow-y: auto;
}

.single-list p {
  margin-top: 0px;
  margin-bottom: 5px;
}

.single-list p:hover {
  text-decoration: underline;
}

/* SINGLE TAG */
.tag-labels {
  height: 250px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.tag-labels small,
.tag-labels a {
  font-size: 0.8rem;
  color: var(--tertiary-color);
  text-decoration: none;
  margin-bottom: 5px;
}

.tag-list {
  overflow-y: auto;
}

.tag-list p {
  margin-top: 0px;
  margin-bottom: 5px;
}

.tag-list p:hover {
  text-decoration: underline;
}

/* SINGLE ACTIONS */
.single-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-edit {
  width: 180px;
  font-size: 1.3rem;
}

.single-delete {
  width: 180px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-size: 1.3rem;
  margin-top: 5px;
}

/* NEWMAT */
.new-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
